<pre>
    网易网盘
        在线文件存储服务

    已添加

    简历中心
        一站式求职平台

    已添加

    日程管理
        管理自己每天的日程安排

    已添加

    电子名片
        创建后可当附件发送

    邮箱贺卡
        音乐酷卡，网上传情

    已添加

    更新通知
        便捷的消息资讯订阅平台

    用户俱乐部
        尊享邮箱特权与积分回馈

    已添加

    邮箱音乐盒
        海量在线正版音乐平台

    网易微博
        有态度的微博

    已添加

    集邮中心
        轻松发信，快乐集邮

    已添加

    明信片
        精心DIY一张电子明信片

    已添加

    游戏天地
        网易游戏的最新资讯

    理财易
        在线记账的理财好帮手

    已添加

    记事本
        随手记录事项备忘

    网易优惠券
        品牌折扣、免费单品

</pre>