@charset "utf-8";
/* 天空蓝皮肤 */

/*************************************************************************************/

/* 页面基本样式 */

/* 右上角背景图片 */
body {
	background: url(../images/blue/top_right.jpg) no-repeat right top;
}

/* 左侧下拉菜单相关样式 */
.navigation {
	/* 背景图片（颜色） */
	background: #F5F5F5 url(../images/blue/bottom_left.jpg) no-repeat right bottom;

	/* 菜单与内容的 */
	border-right: 1px solid rgba(19,91,165,.3) !important;
}


/*************************************************************************************/
/* Neter.Navigation插件样式 */

/* 导航项 */
.neter-navigation-item,
.neter-navigation-item-options-menu-button {
	/* 非Firefox浏览器使用的背景样式 */
	background: url(../images/blue/bgx.png) repeat-x 0 0;
	background-position: 0 -112px;

	/* Firefox使用的背景样式 */
	background: -moz-linear-gradient(center top, #FEFFFF, #DAE8F6) repeat;

	border-color: #B9C4CF;
	border-style: solid;
	border-width: 1px 1px 0;
	border-radius: 2px 2px 0 0;
	font-size: 14px;
	color: #6A6A6A;
}

/* 鼠标悬停时的导航项 */
.neter-navigation-item-hover {
	background-position: 0 -160px;
	background: -moz-linear-gradient(center top, #FEFFFF, #C8DCF1) repeat;
	border-color: #A1ACB8;
}

/* 鼠标按下时的导航项 */
.neter-navigation-item-options-menu-button:active,
.neter-navigation-item-active {
	background-position: 0 -208px;
	background: #A0B0C1;
	border-color: #808D9B;
	color: #6A6A6A;
}

/* 当前选中时的导航项 */
.neter-navigation-item-selected {
	background-position: 0 -272px;
	background: -moz-linear-gradient(center top, #196FC6, #135BA5) repeat 0 0;
	border-color: #135AA4;
}

/* 关闭按钮 */
.neter-navigation-item-close-button {
	color: #CCC;
}

/* 鼠标悬停在关闭按钮时的样式 */
.neter-navigation-item-close-button-hover {
	border: 1px #A1ACB8 solid;
	color: #4E5257;
}

/* 选中项的关闭按钮样式 */
.neter-navigation-item-close-button-hover {
	color: #FFF;
}

/* 导航分隔线 */
.neter-navigation-separator {
	background: url(../images/blue/bgx.png) repeat-x 0 -85px;
}


/*************************************************************************************/
/* Neter.Accordion插件样式 */

/* 鼠标悬停时的菜单样式 */
.neter-accordion-item-hover {
	background: #72abe6;
}
/* 当前选中的菜单样式 */
.neter-accordion-item-selected {
	background: #135BA5;
	color: #FFF;
	font-weight: bold;
}
/* 菜单项名称 */
.neter-accordion-item-name {
	text-shadow: none;
}

/* 菜单项分隔线 */
.neter-accordion-separator {
	border-top: 1px #E0E0E0 solid;
}


/*************************************************************************************/
/* Neter.Dock插件 */

/* 开始按钮 */
.neter-dock-start-button {
	background: url(../images/blue/global.png) no-repeat 0px 0px\9;
	background: #1C3352;
}
/* 显示模式为纵向时的开始按钮触发 */
.neter-dock-start-button-open-v {
	background: url(../images/blue/global.png) no-repeat -2px -80px\9;
	background: #1C3352;
}
/* 显示模式为横向时的开始按钮触发 */
.neter-dock-start-button-open-h {
	background: url(../images/blue/global.png) no-repeat -2px -130px\9;
	background: #1C3352;
}
/* 开始按钮上的方块 */
.neter-dock-start-button .lt,
.neter-dock-start-button .rt,
.neter-dock-start-button .lb,
.neter-dock-start-button .rb {
	position: absolute;
	background: #FFF;
	border: 1px solid #FFF;
}
/* 左下空心方块 */
.neter-dock-start-button .lb {
	background: transparent !important;
}
/* 应用程序列表 */
.neter-dock-list, .neter-dock-list-h {
	background: url(../images/blue/apps_bg.png) repeat 0 0\9;
	background: rgba(0, 0, 0,.3);
}
/* 鼠标悬停时的应用程序 */
.neter-dock-list-item:hover {
	background-color: rgba(0, 0, 0, .1);
}
/* 应用程序列表中名称样式 */
.neter-dock-list-name {
	color: #FFF;
}
/* 全屏模式下应用程序 */
.neter-dock-full-list-name {
	color: #FFF;
}