html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

h1, iframe, ul, li {
  margin: 0;
  padding: 0; }

.panel {
  list-style-type: none;
  float: left;
  display: block;
  margin: 5px;
  width: 300px;
  overflow: hidden; }

.title {
  height: 24px;
  line-height: 24px;
  font-size: 12px; }
